/**app.wxss**/
/*  字体大小规范  */
.font-lv0 {
    font-size: 40rpx !important;
}

.font-lv1 {
    font-size: 36rpx !important;
}

.font-lv2 {
    font-size: 32rpx !important;
}

.font-lv3 {
    font-size: 28rpx !important;
}

.font-lv4 {
    font-size: 24rpx !important;
}

.font-lv5 {
    font-size: 20rpx !important;
}

.panel {
    margin: 30rpx;
}

.panel-heading {
    margin-bottom: 30rpx;
}

.panel-title {
    font-size: 36rpx;
}

.pull-right {
    float: right;
}

.color-link {
    color: #06b92e;
}

